@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.abril-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sub-title {
  color: #e9c664;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.title {
  color: white;
  font-size: 34px;
  margin: 0;
  text-align: center;
}
