nav {
  background-image: url(../assets/images/photos/main-background.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-attachment: fixed;
  color: white;
}
ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
a {
  color: white;
  text-decoration: none;
}
button {
  background-color: #ff6600;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.logo {
  height: 4rem;
}
